body {
  background: burlywood
}

.jumbotron {
  background: coral
}

.card-header {
  text-align: center;
  border-bottom: 3px solid black
}

#write-note {
  position: relative
}

#noteDiv {
  display: block;
}

.sticky-note {
  background: yellowgreen;
  width: 300px;
  height: 300px;
  border: 2px solid black;
  box-shadow: 5px 5px 5px black;

  margin: 25px;
  padding: 10px;
  font-family: 'Gloria Hallelujah', sans-serif;
  overflow-y: scroll;
  resize: none
}

.sticky-note::-webkit-scrollbar {
  background: yellowgreen;
}

.note-title {
  text-align: center;
}


#noteDiv {
  display: flex;
  flex-wrap: wrap;
}


@media only screen and (min-width: 768px) {
  .notes {
    overflow-y: scroll;
  }

  .card {
    max-height: 700px;
  }

}