body{
  background: burlywood
}

.jumbotron{
  background: coral
}

.card {
  max-height: 800px;
}

.notes {
  overflow-y: scroll;
}

.card-header {
  text-align: center;
}

#nextNote{
  color: lightgray;
  
  text-align: center;
  margin: 50px 0
}